.home {
	.banner {
		background-color: $primary-color;
		// background-repeat: no-repeat;
		// background-position: 50% 50%;
		// background-size: 100% 100%, cover;
		position: relative;
		height: 80vh;
		text-align: center;
	}
	.banner-content {
		position: absolute;
		top: 25%;
		left: 0;
		right: 0;
		h1 {
			font-family: $sans-bold;
			font-size: ms(3);					
			color: #fff;
			@include opacity(.9);
			margin: 60px 0 20px 0;
			padding: 0;
			text-transform: uppercase;
		}
		h2 {
			font-family: $serif-light;
			font-size: ms(1);
			color: #fff;
			@include opacity(.8);
		}
		.box {
			font-family: $sans-bold;
			font-size: ms(1);
			color: #fff;
			@include opacity(.5);
			border: 5px solid #fff;
			display: inline;
			padding: 10px 20px;
		}
	}
	.about {
		padding: 100px 0;
		.heading-container {
			padding-bottom: 40px;
			width: 100%;
			text-align: center;
		}
		.profile-photo {
			@include span(6 last);
			text-align: center;
			margin-top: 40px;
			img {
				border: 5px solid $primary-color;
				border-radius: 300px;
				display: block;
				width: 300px;
				margin: 0 auto 15px;
			}
			h4 {
				font-family: $sans-semibold;
				color: darken($primary-color, 40%);
				margin-bottom: 0;
			}
			p {
				color: #999;
				font-family: $serif-regular;
				font-size: 13px;
			}
		}
		.about-copy {
			@include span(6);
		}
	}
	.presentations {
		background: darken($primary-color,57%);
		padding: 50px 0;
		h3 {@include span(isolate 8 at 4);}
		.presentation-image {
			@include span(isolate 3 at 4);
			@include break;
			img {
				margin-top: 20px;
				border-radius: 5px;
			}
		}
		.presentation-info {
			@include span(isolate 4 at 7);
			margin-top: 35px;
			h5,p { color: rgba(255,255,255,.5) }
			p {
				font-family: $sans-regular;
				font-size: 14px;
				line-height: 1.7;
				margin-bottom: 14px;
			}
			ul { padding: 0}
			li { list-style: none; }
		}
	}
}




