.resume {
	.band {
		@extend %clearfix;
		margin-bottom: 60px;
		padding-bottom: 24px;
		border-bottom: 1px solid #ddd;
		&:last-child {border-bottom: 0}
		.resume-header {
			@include span(4);
		}
		.resume-content {
			@include span(last 8);
		}
	}
}