/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: #111;
  font-family: Georgia;
  font-size: ms(0);
	line-height: ms(0) * 2;
}

a {
    color: $body-link;
    text-decoration: none;
    &:visited{ 
        @extend a;
    }
    &:hover {
        color: lighten($body-link, 20%);
    }
}

h1, h2, h3, h4, h5, h6 {
	color: $dark-blue;
 	margin-top: 0;
  font-family: $sans-bold;
  letter-spacing: .01em;
}

h1 {
	font-size: ms(3);
	line-height: ms(3) * 1.2;
	margin-bottom: ms(0) * 2;
	
}

h2 {
	font-size: ms(2);
	line-height: ms(2) * 1.4;

}

h3 {
	font-size: ms(1);
	line-height: ms(1) * 1.6;

}

h4 {
	font-size: ms(.5);
	line-height: ms(.5) * 1.8;

}

h5 {
	font-size: ms(0);
	line-height: ms(0) * 2;
}

h6 {
	font-size: ms(-1);
	line-height: ms(-1) * 2;
}

p, ul, ol, pre, table, blockquote { 
	margin-top: 0;
	margin-bottom: ms(0) * 2
}

small, .font_small {font-size: 0.618em;}

strong {font-weight: 600;}

.upcase {
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* list styles */

ul { padding-left: 1em;}

.lead-par {
	font-size: 1.2em;
}



