//TYPOGRAPHY

/* Modular Scale*/
$ms-base: .9375rem;
$ms-ratio: $golden;

/*Sizing*/
$line-height: 1.75;

//FONTS
$sans-light: 'open_sanslight';
$sans-light-italic: 'open_sanslight_italic';

$sans-regular: 'open_sansregular';
$sans-italic: 'open_sansitalic';

$sans-semibold: 'open_sanssemibold';
$sans-semibold-italic: 'open_sanssemibold_italic';

$sans-bold: 'open_sansbold';
$sans-bold-italic: 'open_sansbold_italic';

$sans-xbold: 'open_sansextrabold'; 
$sans-xbold-italic: 'open_sansextrabold_italic';

$serif-light: 'merriweatherlight';
$serif-regular: 'merriweatherregular';
$serif-bold: 'merriweatherbold';

// COLORS
$primary-color: #C6D0D9;
$secondary-color: #822F2E;
$body-link: #257EE4;
