<footer class="site-footer">
  <div class="content">    
    <div class="social">
    	<h5>Connect with me:</h5>
	    	<ul class="social-links">	
	    		<li><a class="linkedin" href="https://www.linkedin.com/in/erikherberg" target="_blank" title="Linkedin">linkedin</a></li>
	    		<li><a class="academia" href="https://washington.academia.edu/ErikH" target="_blank" title="academia.edu">academia.edu</a></li>
	    		<li><a class="vitae" href="https://chroniclevitae.com/people/376151-erik-herberg/profile" target="_blank" title="chroniclevitae.com">vitae</a></li>
	    	</ul>
	    </div>
	    <div class="copyright">
	    	<p>&copy; 2015 Erik Herberg</p>
	    </div>
  </div>
</footer>
