<header class="site-header">
  <div class="content">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <ul>
          <li><a href="{{ site.baseurl }}/resume" class="{% if page.url contains 'resume' %} current {% endif %}">Resume</a></li>
          <li><a href="{{ site.baseurl }}/coursework-samples" class="{% if page.url contains 'coursework-samples' %} current {% endif %}">Coursework Samples</a></li>
          <li><a href="{{ site.baseurl }}/reflections/fall/EDLPS-563-education-the-workforce-and-public-policy.html" class="{% if page.url contains 'reflections' %} current {% endif %}">Reflections</a></li>
          <li><a href="{{ site.baseurl }}/professional-development" class="{% if page.url contains 'professional-development' %} current {% endif %}">Professional Development</a></li>
      </ul>
    </nav>
  </div>
</header>
