<header class="site-header">

  <div class="content">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">

      <ul>
          <li><a href="{{ site.baseurl }}/resume" class="{% if page.url contains 'resume' %} current {% endif %}">Resume</a></li>
          <li><a href="{{ site.baseurl }}/course-samples" class="{% if page.url contains 'course-samples' %} current {% endif %}">Course Samples</a></li>
          <li><a href="{{ site.baseurl }}/reflections" class="{% if page.url contains 'reflections' %} current {% endif %}">Reflections</a></li>
          <li><a href="{{ site.baseurl }}/professional-development" class="{% if page.url contains 'professional-development' %} current {% endif %}">Professional Development</a></li>
          <!-- <li><a href="{{ site.baseurl }}/final-project" class="{% if page.url contains 'final-project' %} current {% endif %}">Final Project</a></li> -->
      </ul>
      
    </nav>

  </div>

</header>
