$susy: (
	container: auto,
  columns: 12,
  column-width: 75px,
  gutters: 1/4,
  math: static,
  output: float,
  gutter-position: outside,
  global-box-sizing: border-box,
	debug: (
    image: show,
    color: rgba(255,100,100, .2),
    output: overlay,
    toggle: top right,
  ),
);

.content {
	@include container;
	@extend %clearfix;
}

main { 
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;
}