$susy: (
	container: 1100px,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

.content {
	@include container;
}

.page-content {
	background: #f9f9f9;
}

.page-header {
	background: #A4F6E7
}

