.site-header {
	background: #fff;
	border-bottom: 1px solid $dark-blue;
	padding-top: 16px;
	height: 70px;

	a {color: #333; }
	.site-title {
		font-size: 1.2em;
		font-weight: 600;}
	
	.site-nav {
		float:right;
		ul {
			@extend %clearfix;
			margin: 0;
			padding: 0;
		}
		li {
			margin-left: 20px;
			list-style: none;
			float: left;
		}
	}
	.current { font-weight: 600 }
}