.site-header {
	background: #fff;
	border-bottom: 1px solid $dark-blue;
	padding-top: 16px;
	height: 70px;

	.site-title {
		font-family:$sans-bold;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
	
	.site-nav {
		float:right;
		ul {
			@extend %clearfix;
			margin: 0;
			padding: 0;
		}
		li {
			margin-left: 30px;
			list-style: none;
			float: left;
			a {
				font-size: ms(-.2);
			}
		}
	}
	.current { font-weight: 600 }
}