.page-banner {
	margin-bottom: 60px;
	padding: 40px 0;
	h1 {
		font-size: ms(2);
		font-family: $sans-light;
		color: #fff;
		margin-top: 60px;

	}
}

.resume, .cover-letter {
	.page-banner h1 {
		.selected {
			border-bottom: 1px dotted #fff;
			font-family: $sans-semibold;
		}
		a {
			font-family: $sans-light;
			color: lighten($primary-color, 10%);
			&:hover {
				text-decoration: none;
				color: #fff;
			}
		}
	}
}